div .container {
  width: 70%;
  max-width: 700px;
  text-align: center;
  margin-top: 30px;
}

#btnDelete {

}

#btnDeleteZeroOpacity {
  opacity: 0;
}

.btn-delete {
  float: right;
}

div.list-group-item {
  padding: 10px;
}

#inputField {
  margin: 500px;
}

#Header {
  text-transform: uppercase;
}

#arrow {
  float: left;
  width: 120px;
}

#textInput {

}

.listItem {

}

#InputField {
  margin-bottom: 10px;
  margin-top: 30px;
}

#bottomBar {
  margin-top: 10px;
}

button.list-group-item.btnMode {
  margin: 0;
}

#itemLeft{
  background: white;
  width: 50%;
}

.btnMode {
  background: white;
}

.checkBox {
  float: left;
  margin-top: 13px;
  margin-left: 15px;
  width: 1em;
  height: 1em;
}

.detailList {
  margin-top: 10px;
  transition: opacity 0.3s;
}

.done {
  text-decoration: line-through;
  opacity: 0.45;
}
