div .container {
  width: 70%;
  text-align: center;
}

#btnDelete {

}

#btnDeleteZeroOpacity {
  opacity: 0;
}

.btn-delete {
  float: right;
}

div.list-group-item {
  padding: 5px;
}

#inputField {
  margin: 500px;
}
